*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right, #00b4db, #0083b0);
    color:#333;
    line-height: 1.6;

}